<div *ngIf="selectedFeature" id="feature-pane">

    <div class="feature-head">
        <div class="feature-title-wrapper" [ngClass]="{'has-image': selectedFeature.wikipedia_image_url}" >
            <h1>{{selectedFeature.name}}</h1>
            <div ng-if="selectedFeature.type" class="muted">{{selectedFeature.type}}</div>
        </div>

        <div class="feature-image" [class.show]="selectedFeature.wikipedia_image_url">
            <div class="feature-image-inner" style="background-image: url('{{selectedFeature.wikipedia_image_url}}');"></div>
        </div>
    </div>

    <div class="loadinger" [class.hidden]="!isLoading"></div>

    <div *ngIf="selectedFeature && selectedFeature.opening_hours" class="opening-hours">
        <div ng-switch-when="true" class="text-success">
            Now Open (Closing {{selectedFeature.opening_hours.next_change}} at {{selectedFeature.opening_hours.next_change_date|date : 'shortTime'}})
        </div>
        <div ng-switch-when="false" class="text-danger">
            Now Closed (Opening {{selectedFeature.opening_hours.next_change}} at {{selectedFeature.opening_hours.next_change_date|date : 'shortTime'}})
        </div>
    </div>

    <ul *ngIf="selectedFeature && selectedFeature.tags" class="feature-tags">
        <li *ngIf="selectedFeature.tags.website">Website: <a href="{{selectedFeature.tags.website}}" target="_blank" rel="noopener">{{selectedFeature.tags.website}}</a></li>
        <li *ngIf="selectedFeature.tags.email">E-Mail: <a href="mailto:{{selectedFeature.tags.email}}" target="_blank">{{selectedFeature.tags.email}}</a></li>
        <li *ngIf="selectedFeature.tags.phone">Phone: <a href="tel:{{selectedFeature.tags.phone}}" target="_blank">{{selectedFeature.tags.phone}}</a></li>
    </ul>
</div>
