
<div class="feature-head">
    <div class="feature-title-wrapper" >
        <h1>{{selectedFeature.tags.name}}</h1>
        <div ng-if="selectedFeature.type" class="muted">{{selectedFeature.type}}</div>
    </div>

    <div class="feature-image" ng-show="selectedFeature.wikipediaImageUrl">
        <div class="feature-image-inner" style="background-image: url('{{selectedFeature.wikipediaImageUrl}}');"></div>
    </div>

</div>

<div ng-switch on="selectedFeature.opening_hours.state" class="opening-hours">
    <div ng-switch-when="true" class="text-success">
        Now Open (Closing {{selectedFeature.opening_hours.next_change}} at {{selectedFeature.opening_hours.next_change_date|date : 'shortTime'}})
    </div>
    <div ng-switch-when="false" class="text-danger">
        Now Closed (Opening {{selectedFeature.opening_hours.next_change}} at {{selectedFeature.opening_hours.next_change_date|date : 'shortTime'}})
    </div>
</div>

<ul class="feature-tags">
    <li ng-if="selectedFeature.tags.website">Website: <a href="{{selectedFeature.tags.website}}" target="_blank">{{selectedFeature.tags.website}}</a></li>
    <li ng-if="selectedFeature.tags.email">E-Mail: <a href="mailto:{{selectedFeature.tags.email}}" target="_blank">{{selectedFeature.tags.email}}</a></li>
    <li ng-if="selectedFeature.tags.phone">Phone: <a href="tel:{{selectedFeature.tags.phone}}" target="_blank">{{selectedFeature.tags.phone}}</a></li>
</ul>
