#search-box {
    width: 400px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 100;
}

#search-results {
    position: absolute;
    width: 400px;
    top: 55px;
    left: 20px;
    display: block;
}

#feature-pane {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    bottom: 0;
    width: 440px;
    background-color: #222;
    opacity: 0.90;
    color: white;
    border-right: 1px solid black;
    box-shadow: 0 0 20px rgba(0,0,0,0.33);
    padding: 50px 20px 20px 20px;
    transition: opacity 1s ease-out;
}

div.feature-image {
    margin-bottom: 10px;
}