<div *ngIf="selectedFeature" id="featurepane"  [ngClass]="{'has-image': selectedFeature.wikipedia_image_url}">

    <!-- FeaturePane Head: contains image/placeholder and Title -->
    <section class="header">
        
     
        <!-- Feature Image -->
        <div class="image" [class.show]="selectedFeature.wikipedia_image_url" *ngIf="selectedFeature.wikipedia_image_url">
            <img alt="Wikipedia image for {{selectedFeature.name}}" src="{{selectedFeature.wikipedia_image_url}}"/>
        </div>


        <!-- title and preset -->
        <div class="title-wrapper">
            <h1>{{selectedFeature.name}}</h1>
            <h2 *ngIf="selectedFeature.preset_name" class="feature-preset">{{selectedFeature.preset_name}}</h2>
        </div>


    </section>

    <!-- Feature Body -->
    <div class="feature-body">

        <!-- tags -->
        <ul *ngIf="selectedFeature && selectedFeature.tags" class="feature-tags hyphenate">
            <li *ngIf="selectedFeature.tags['addr:street'] || selectedFeature.tags['addr:housenumber'] || selectedFeature.tags['addr:postcode'] || selectedFeature.tags['addr:city']">
                <span *ngIf="selectedFeature.tags['addr:street']">{{selectedFeature.tags["addr:street"]}}</span>&nbsp;
                <span *ngIf="selectedFeature.tags['addr:housenumber']">{{selectedFeature.tags["addr:housenumber"]}}</span>
                <br *ngIf="selectedFeature.tags['addr:postcode'] || selectedFeature.tags['addr:city']"/>
                <span *ngIf="selectedFeature.tags['addr:postcode']">{{selectedFeature.tags["addr:postcode"]}}</span>&nbsp;
                <span *ngIf="selectedFeature.tags['addr:city']">{{selectedFeature.tags["addr:city"]}}</span>
            </li>
            <li *ngIf="selectedFeature.hasOpeningHours">
                <span [ngClass]="{'now-open': true, 'is-open': selectedFeature.nowOpen}">{{ selectedFeature.nowOpen ? 'Now Open' : 'Now Closed' }}</span>,
                <span *ngIf="selectedFeature.openingHoursToday != ''">Today {{ selectedFeature.openingHoursToday }}</span>
            </li>
            <li *ngIf="selectedFeature.tags.website" class="hyphenate">Website: <a href="{{selectedFeature.tags.website}}" target="_blank" rel="noopener">{{selectedFeature.tags.website}}</a></li>
            <li *ngIf="selectedFeature.tags.email">E-Mail: <a href="mailto:{{selectedFeature.tags.email}}" target="_blank">{{selectedFeature.tags.email}}</a></li>
            <li *ngIf="selectedFeature.tags.phone">Phone: <a href="tel:{{selectedFeature.tags.phone}}" target="_blank">{{selectedFeature.tags.phone}}</a></li>
        </ul>

        <a class="osm-link" href="{{ selectedFeature.getOpenStreetMapLink() }}" rel="noopener" target="_blank">View on OpenStreetMap</a>
    
    </div><!-- /.feature-body -->

</div><!-- /#featurepane -->
