@import "./../../commons.scss";


/**
 * Variables
 */
$featurepane-width: 340px;



/**
 *
 * FeaturePane Component Styles
 *
 */


/**
 * FeaturePane General 
 */
#featurepane {
  position: absolute;
  z-index: 99;
  left: 20px;
  top: 80px;
  width: $featurepane-width;
  color: #222;
  box-shadow: 0 0 20px rgba(0,0,0,0.33);
  background-color: #fff;
}


/**
 * header
 */
.header {
  display: flex;
  align-items: flex-end;
  position: relative;
  min-height: 20vh; 
  width: 100%;
  background-color: $mappinger-green-dark;
}


/**
 * FeaturePane Image
 */
.image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%; 
  opacity: 0;
  transition: opacity 500ms ease-out;

  &.show {
    opacity: 1;
  }
}

.image img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}



/**
 * Feature Title 
 */
// wrapper for positioning
.title-wrapper {
  position: relative;
  padding: 20px 20px 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.title-wrapper h1, .title-wrapper h2 {
  margin: 0;
  color: #fff;
}
.title-wrapper h1 {
  font-size: 1.8rem;
}
.title-wrapper h2 {
  font-weight: 500;
  font-size: 1.1rem;
}


/** 
 * FeaturePane has an image styles
 */
#featurepane.has-image {

  .header {
    min-height: 33vh;
  }

  .title-wrapper {
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.4) 100%);
  }

  .title-wrapper h1, .title-wrapper h2 {
    text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.81);
  }
}



/**
 * FeaturePane Body - wraps all content below the image 
 */
.feature-body {
  position: relative;
  padding: 20px;
}

.feature-body h1 {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}







/* Hyphenate. See https://css-tricks.com/almanac/properties/h/hyphenate/ */
.hyphenate {
 -ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}


/**
 * Feature Tags / Details
 */

.feature-tags {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.feature-tags li {
  padding: 0;
  margin-bottom: 10px;
}

.osm-link {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 0.7rem;
}

// Links
.feature-body a {
    &:link, &:visited {
        color: $mappinger-green-dark;
    }
    &:focus, &:hover {
        color: $mappinger-green-dark;
    }
}

// Opening Hours
.now-open {
  color: $mappinger-red;

  &.is-open {
    color: $mappinger-green-dark;
  }
}




/**
 * Loading Animation Bar – youtube style loader
 */
.loadinger {
  position: absolute;
  height: 1px;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 10;

  &::after {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: block;
    content: "";
    background-color: $mappinger-red-dark;
    transform: translate3d(0,0,0);
    animation: loadinger-animation 1000ms cubic-bezier(0.68, 0.01, 0.26, 1.02) 0ms infinite;
  }

  &.hidden {
      display: none;
  }
}

@keyframes loadinger-animation {
  0%    {  transform: translate3d(-100vw, 0, 0) scaleX(0.7); }
  100%  {  transform: translate3d(100vw, 0, 0) scaleX(1); }
}





/**
 *
 * Media Queries 
 *
 */

// TODO: rewrite smartphone layout
/* Medium Size Devices < 750px */
@media all and (max-width: 750px) {

  // position featurepane at the very bottom of screen
  #featurepane {
    left: 0px;
    top: auto;
    bottom: 0px;
    right: 0;
    width: auto;
  }


  // set lower min-height for header
  .header {
    min-height: 5vh; 
  }

  #featurepane.has-image .header {
    min-height: 16vh;
  }


  .title-wrapper {
    padding: 10px;
  }
  .title-wrapper h1 {
    font-size: 1.5rem;
  } 

  .title-wrapper h2 {
    font-size: 1rem;
  }


  .feature-body {
    padding: 10px;
    padding-bottom: 20px;
  }

  .feature-tags li {
    margin-bottom: 0.3em;
  }


}
