export class Config {
    public static title:string = "Mappinger";
    public static mapboxAccessToken:string = "YOUR-TOKEN-GOES-HERE";
    public static mapzenAccessToken:string = "YOUR-TOKEN-GOES-HERE";
}
