@import './commons.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;
}


.shadow {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

small {
    color: #666;
    margin-left: 2px;
}


/* Hyphenate. See https://css-tricks.com/almanac/properties/h/hyphenate/ */
.hyphenate {
 -ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
